:root {
  --html-editor-background: #fffffff5;
}

/* Editor content area */
.rsw-ce h1 {
  font-size: 1.9rem;
  font-weight: 700;
}

.rsw-ce h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.rsw-ce pre {
  background: #f5f5f5;
  border-radius: 6px;
  font-family: monospace;
  overflow-x: auto;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.rsw-ce p {
  margin: 0.5rem 0;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

.rsw-ce:focus {
  outline: none !important;
}


/* HTML Editor styles  */
.rsw-html {
  background: var(--html-editor-background) !important;
}


.rsw-editor{
  border: none !important;
}